.container{
    margin-bottom: 100px;
}
.orange-bg{ 
    background-color: #fceae8;
    border-radius: 10px;
}
.price{
    color: #FF1D75;
}
.carousel-item{ 
    padding: 20px 40px;
    
}
.buy-now-button{ 
    background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1{
    background-image: linear-gradient(#ffcc6c, #ffa600);
}
.cat2{
    background-image: linear-gradient(#DA70D6, #b109ab);
}
.cat3{
    background-image: linear-gradient(#0000FF, #5d5dff);
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
}
.categories h1{
    color: white;
}
.categories img{
    width: 100px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
}
#contact{
    height: 300px;
}
#contact h6{
    color: #5f5f5f;
}
footer{
    text-align: center;
}